* {
    padding: 0;
    margin: 0;
}

:root {
    --white-text-color: #FFFFFF; 
    --main-text-dark-color: #24303E;
    --paragraph-text-color: #808397;
}
/* header styling */
header {
    background-image: url("./images/desktop/image-header.jpg");
    height: 800px;
}

.logo_img{
    width: 177px;
    height: 33px;
}

.nav_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

.nav_item {
    text-decoration: none;
    color: var(--white-text-color);
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    margin-right: 25px;
}

.contact_btn {
    color: var(--white-text-color);
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    background-color: #78CEF5;
    padding: 15px 20px;
    border: 1px solid #78CEF5;
    border-radius: 30px;
}

.main_heading {
    font-family: 'Fraunces', serif;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--white-text-color);
    text-align: center;
}

.arrow_down {
    display: block;
    margin: 140px auto;
    height: 120px;
}

/* cards section styling */
.cards_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.content_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0 auto;
}

.card_heading {
    font-family: 'Fraunces', serif;
    font-size: 43px;
    color: var(--main-text-dark-color);
    width: 445px;
}

.card_content {
    margin: 30px 0;
    width: 445px;
    color: var(--paragraph-text-color);
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

.mobile_egg_img {
    display: none;
}

.mobile_coctail_img {
    display: none;
}

.learn {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Fraunces', serif;
    text-decoration: none;
}

.yellow_underline {
    border-bottom: 5px solid #f5dd88;
    border-radius: 5px;
    display: inline-block;
    width: 110px;
}

.red_underline {
    border-bottom: 5px solid #f39588;
    border-radius: 5px;
    display: inline-block;
    width: 110px;
}

.graphic_card {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    color: #24554A;
}

.photography_card {
    background-image: url("./images/desktop/image-photography.jpg");
    color: #052C3B;
}

.bg_img_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding-bottom: 120px;
}

.heading_two {
    width: 339px;
    font-family: 'Fraunces', serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.content_two {
    width: 339px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* images cards */

.img_cards {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.mobile_milkbottles {
    display: none;
}

.mobile_orange {
    display: none;
}

.mobile_cone {
    display: none;
}

.mobile_sugarcubes {
    display: none;
}

